*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    color: #ffffff;
    background-color: #a2d7db;
    background-color: #3d4e56;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23100e12' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}

ul {
    list-style: none;
}
.container {
    width: 95%;
    margin: auto;
}


hr {
    color: rgb(79, 43, 241);
    margin: 5px 0;
    
}


/* NAVIGATION*/

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-caronte {
    width: 70px;
}

/* NAVIGATION LEFT*/
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 20px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #a2d7db;
}

.nav-main ul li a {
    padding: 3px;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.nav-main ul.nav-menu-right {
    margin-right: 20px;
    
}

header {
    margin-top: 10px;
}

.nav-elements:hover {
    opacity: .8;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 25px;
    right: 15px;
   
}

/* SHOWCASE*/

.showcase {
    width: 100%;
    height: 300px;
    background: url('images/header-principal.jpg') no-repeat center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.showcase h2, p {
    margin-bottom: 10px;
    align-items: center;
}

.showcase2 {
    width: 100%;
    height: 120px;
    background: url('images/header-tendencias.jpg') no-repeat center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase3 {
    width: 100%;
    height: 120px;
    background: url('images/header-novedades.jpg') no-repeat center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase4 {
    width: 100%;
    height: 900px;
    background: url('images/header-nosotros.jpg') no-repeat center/cover;
    padding: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase5 {
    width: 100%;
    height: 900px;
    background: url('images/header-login.jpg') no-repeat center/cover;
    padding: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase6 {
    width: 100%;
    height: 90px;
    background: url('images/caronte-logo.jpeg') no-repeat center/cover;
    padding: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    color: cyan;
    font-size: 15px;
    border: 1px solid white;
    margin: 15px 0;
    text-transform: uppercase;
    
 
}
.btn:hover {
    opacity: .5;
}

/* NEWS CARDS */

.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.news-cards img {
    width: 70%;
    height: 280px;
}

/* NEWS PART*/

.news-part {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.news-part img {
    width: 100%;
    height: 220px;
}

.news-part a{
    padding: 10´x 0;
    color: cyan;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-part p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* BANNER ONE*/

.banner-one {
    width: 100%;
    height: 350px;
    background: url('./images/banner1.png') no-repeat center/cover;
    margin-bottom: 40px;

}

.banner-one .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.banner-one .content p,
.banner-one .content h2 {
    margin: 10px 0; 
}

/* SOCIAL */

.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

/* FOOTER LINKS */

.footer-links {
    background: rgb(34, 44, 44);
    color: white;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}

.footer {
    background: rgb(34, 44, 44);
    color: rgb(108, 138, 138);
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px){

    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(34, 44, 44);
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5 ease-in-out;
    } 

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .news-part {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-one .content,
    .banner-one .container {
        width: 97%;
    }
}

/* GOTOP */

.go-top-container{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11; 
}

.show i{
    transform: translate(-50%, -50%) scale(2);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}










